

/* ---------------------- */
/*       TIPOGRAFÍAS      */
/* ---------------------- */

@font-face {
    font-family: 'yanone';
    src: url('./fonts/yanone.ttf');
}

@font-face {
    font-family: 'finger';
    src: url('./fonts/finger.ttf');
}

@font-face {
    font-family: 'titilium';
    src: url('./fonts/titilium.ttf');
}

@font-face {
    font-family: 'BubblegumSans';
    src: url('./fonts/BubblegumSans.ttf');
}

@font-face {
    font-family: 'Mango Grotesque';
    src: url('./fonts/MangoGrotesque-ExtraLight.woff') format('woff2'),
        url('./fonts/MangoGrotesque-ExtraLight.woff') format('woff');
    font-weight: 200;
    /* ExtraLight */
    font-style: normal;
}

@font-face {
    font-family: 'Humane';
    src: url('./fonts/Humane-Light.woff2') format('woff2'),
        url('./fonts/Humane-Light.woff') format('woff');
    font-weight: 200;
    /* ExtraLight */
    font-style: normal;
}



/* ---------------------- */
/*    ESTILOS GENERALES    */
/* ---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yanone', sans-serif;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

/* ---------------------- */
/*        FONDO VANTA      */
/* ---------------------- */

#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* detrás del contenido */
}

/* ---------------------- */
/*     CONTENEDOR          */
/* ---------------------- */

.contenedor {
    position: relative;
    z-index: 10;
    min-height: 100vh;

    /* Centrado vertical y horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1,
h3 {
    font-family: 'Humane', sans-serif;
    letter-spacing: 4px;
}

/* ---------------------- */
/*       HEADER           */
/* ---------------------- */

header {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    /* columna en móvil */
    align-items: center;
    /* centrar en móvil */
    text-align: center;
    gap: 20px;
}

/* Bloque de texto */
.texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Espacio entre icono y texto */
.texto h5 i {
    margin-right: 8px;
}

/* Tipos de letra */
.texto h1 {
    font-size: clamp(65px, 10vw, 96px);
    font-weight: 300;
    color: #ccc;
}

.texto h3 {
    font-size: clamp(55px, 5vw, 85px);
    font-family: 'Humane';
    font-weight: 400;
    color: #ccc;

}

.texto h5 {
    font-size: clamp(14px, 2vw, 20px);
    color: #ccc;
}

.texto ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding-left: 0;
    justify-content: center;
}

.texto ul li i {
    border: 1px solid #333;
    color: #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}


/* Foto de perfil */

.foto-perfil {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
}

/* Sobre mi */

section p {
    color: #ccc;
    font-size: 20px;
}

.mt-extra {
    margin-top: 6rem;
}

/* Habilidades */

#habilidades h1,
#experiencia h1,
#proyectos h1,
#educacion h1 {
    font-weight: bold;
    color: #ccc;
    font-size: 70px;
    text-align: start;
    margin-bottom: 20px;
    max-width: 800px;
}

#habilidades ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    max-width: 800px;
}

#habilidades ul li {
    color: #ccc;
    padding: 3px 35px;
    margin: 5px;
    background-color: #333;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
    transition: transform .3s, box-shadow .3s;
}

#habilidades ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}

/* Experiencia */

#experiencia h3 {
    font-family: 'yanone';
    font-size: 25px;
    color: #ccc;
}

#experiencia ul li {
    color: #ccc;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 20px;
}


/* Proyectos */

/* Tarjeta general */
.card {
    width: 100%;
    max-width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    transition: transform .3s, box-shadow .3s;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #ccc;
}

/* Hover */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}

/* Card body principal (título y descripción) */
.card-body {
    flex: 1;
    background-color: #333;
    color: #ccc;
    padding: 10px;
}

/* Título */
.card-body a {
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.card-body p {
    margin-top: 10px;
    color: #ccc;
    font-size: 0.95rem;
}

/* Lista de tecnologías o características */
.card ul.list-group li {
    background-color: #333;
    color: #ccc;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
}

/* Centrar la tarjeta dentro de la columna */
.col-12.col-sm-6.col-lg-4.col-xl-3 {
    display: flex;
    justify-content: center;
}

/* Separación entre tarjetas */
.row.g-4 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Educacion */

#educacion .edu-item {
    margin-bottom: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #444;
}

#educacion .edu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#educacion h4 {
    margin: 0;
    color: #fff;
    font-size: 18px;

}

#educacion span {
    color: #aaa;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px 20px;
}

#educacion p {
    margin: 5px 0 0;
    color: #ccc;
    font-size: 15px;
}

/* footer */

footer{
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer h5{
    color: #ccc;
}



/* ---------------------- */
/*    DESKTOP (>768px)    */
/* ---------------------- */

@media (min-width: 768px) {
    header {
        flex-direction: row;
        /* fila en desktop */
        justify-content: space-between;
        /* texto izquierda, foto derecha */
        align-items: center;
        text-align: left;

    }

    .texto {
        align-items: flex-start;
        margin-bottom: 0;
    }
}

@media (max-width : 768px) {
    #habilidades h1, #experiencia h1, #proyectos h1, #educacion h1 { text-align: center; }
}