/* Importaciones*/

/* Colores */

:root {
    --primary-color:#950952;
    --primary-color-dark:#5e0035;
    --secondary-color:#005c69;
    --secondary-color-dark:#023618;
    --gray-color: black;
    --gray-color-dark: #333;

}

@font-face {
    font-family: 'yanone';
    src: url('./fonts/yanone.ttf');
 }

 @font-face {
    font-family: 'finger';
    src: url('./fonts/finger.ttf');
 }

 @font-face {
    font-family: 'titilium';
    src: url('./fonts/titilium.ttf');
 }

 @font-face {
    font-family: 'BubblegumSans';
    src: url('./fonts/BubblegumSans.ttf');
 }

 @font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald.ttf');
 }

 @font-face{
    font-family: 'Honk';
    src: url('./fonts/Honk.ttf');
 }

 @font-face {
    font-family: 'changa';
    src: url('/fonts/Changa.ttf');
 }

 /* Estilos generales */

 *{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    /* background-image: url('../IMG/abstract-background.jpg');
    background-attachment: fixed; */
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
}

/* ************************************ */

.contenedor {
    display: flex; 
}

.navbar{
    flex: 10%;
    width: 100%;
    height: 900px;
}

.columna1{ 
    display: block;
    width: 10%;  
    height: 900px;
    position: fixed;
    background-color: black;
   
}


.fotoPerfil{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    padding: 20px;
    
}

.fotoPerfil > img {
    border-radius: 50%;
}




/* Estilos barra navegación */

.menu{
    margin-top: 130px;
}

.menu ul li{
    list-style: none;
    padding: 5px;
    text-align: center;
    transition: all 0.5s;
}

.menu ul li a{
    font-family: 'honk', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.menu ul li:hover{
    transform: scale(1.15);
}

/* footer */

footer {
    text-align: center;
}


.fa-brands, .fa-solid{
    color: #6fdc68;
    border: 1px solid #6fdc68;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    margin-top: 35px;
    transition: all 0.5s;
}

.fa-brands:hover, .fa-solid:hover{
    color: #451571;
    border: 1px solid #451571;
    border-radius: 50%;
    transform: scale(1.30);
}

/* Contenido */

.columna2{
    flex: 90%;
    padding: 60px;
    height: auto;
    background-color: rgba(0,0,0,0.96);
}

/* .two-color-text{
    background: linear-gradient(to right, #cb2525, #6fdc68); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
} */

section {
    padding: 50px 0;
    min-height: 700px;
    height: auto;
    border-bottom: 1px solid #ccc;
    word-spacing: 4px;
}


/* ESTILOS SECCIONES */

/* estilos home */


#home h1{
    font-family: 'Honk', Arial, Helvetica, sans-serif;
    font-size: 50px;

}

#home h2{
    font-family: 'Honk', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#home p {
    color: #6fdc68;
    font-size: 22px;
    font-weight: 800;
    animation: slideIn 2s ease-in-out;
}

#home > p > a{
    color: #451571;
    transition: all 0.4s;
}

#home > p > a:hover{
    color: #6fdc68;
}
 
#home > li {
    background-color: #6fdc68;
    width: 15%;
    border-radius: 15px;
    padding: 10px 30px;
    transition: all 0.5s;  
    list-style: none;
    text-align: center;
}

#home > li > a{
    text-decoration: none;
    color: #451571;
}

#home > li:hover{
    transform: scale(1.05);
}

/* seccion sobre mi */

#about h1{
   font-family: 'honk' ,Arial, Helvetica, sans-serif;
   font-size: 35px;
   padding-top: 10px;
}

#about p {
    color:#6fdc68;
    padding-top: 20px;    
}

#about h2{
    color: #10BC79;
    text-transform: uppercase;
}

#about a{
    color:#10BC79;
}

/* Seccion portfolio */



#portfolio h1{
    font-family: 'Honk', Arial, Helvetica, sans-serif;
    font-size: 35px;
}

/* creamos unos divs para hacer tarjetas de presentacion para los proyectos del portfolio */

.proyecto1, .proyecto2{
    margin-top: 50px;
    display: inline-block;
    border:2px solid rgb(204, 204, 204, 0.25);
    background-color: black;
    width: 300px;
    height: 350px;
}

.proyecto1 > img, .proyecto2 > img{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204, 0.25);
}

.proyecto1 h3, .proyecto2 h3{
    color:#451571;
    text-transform: uppercase;
    padding: 10px;
}

.proyecto1 p,.proyecto2 p{
    color:#6fdc68;
    font-size: 15px;
    padding: 10px;
}









































/* Animaciones */

/* @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */

